@import './partials/_colours.scss';
@import './partials/_typography.scss';
@import './partials/_devices.scss';

* {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 20px;
}

h1 {
  @include heading;
}
h2 {
  @include subheading;
}

p {
  font-size: $fontSize-m;
}

a {
  color: $linkColour;
  text-decoration: none;
  font-size: $fontSize-m;
  &:hover {
    text-decoration: underline;
  }
}

input, select {
  min-width: 350px;
  height: 35px;
  padding-left: 0.5em;
  background: $grey-700;
  color: $white;
  outline: none;
  border: 1px solid $grey-500;
  border-radius: 0.25em;
}

.inputs-contain {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  :deep(.display-input) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    label {
      margin-bottom: 0.25rem;
    }
  }
  .inputs-row {
    @include device ('desktop', 'all') {
      display: flex;
      > * {
        flex: 1;
        margin-right: 0.5rem;
      }
    }
  }
}
.error {
  color: #ff0000;
}